.inputForm{
    float: inline-start;
    width: 90%;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 0px;
   
    padding: 3px 5px 3px 5px;
    border: none;
    border-bottom: 2px solid transparent;
    border-bottom-color: #777777;
    font-size: 18px;
    /* outline: none; */
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .inputForm:focus, inputForm:hover {
   

    border-bottom-color: var(--main-blue-color);
   }
   
   .inputForm::placeholder {
    color: #777777;
   }
   
   .inputForm:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }